*
{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body 
{
    background-color: rgb(14, 13, 13);
    max-width: 1500px;
}

section
{
    position: initial;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    justify-content:center;
    align-items:center;
}
/*
.bounce
{
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 3em;
    animation: bounce;
    animation-duration: 4s;
    animation-delay: 2s;
}

@keyframes example {
    0%   {left:300px; top:0px;}
    25%  {left:500px; top:0px;}
    50%  {left:600px; top:500px;}
    75%  {left:0px; top:200px;}
    100% {left:300px; top:400px;}
  }


section :before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,rgba(100, 100, 100, 0.116),transparent );
    z-index: 10000;
}

section :after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(14, 13, 13, 0);
    z-index: 1000;
    mix-blend-mode: multiply;
}
*/
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#text
{
    position: absolute;
    text-align: justify;
    color: rgb(255, 255, 255);
    font-size: 10em;
    z-index: 1;
}
#feet
{
    z-index: 2;
}
#tree
{
    z-index: 3;
}
#jeff
{
    z-index: 1;
}
#me
{
    z-index: 5;
}

.textPort
{
    margin: 0%;
    text-align: right;
    color: whitesmoke;
    font-size: 7em;
    background: pink;
    align-content: unset;
}

.heading 
{
    color: pink;
    font-size: 10em;
}

.description
{
    color: powderblue;
    font-weight: bolder;
    font-size: 3em;
    padding-left: 6em;
}
.description-sk
{
    color: rgb(14, 13, 13);
    font-weight: bolder;
    font-size: 3em;
    padding-left: 6em;
    background: repeating-linear-gradient(rgb(204, 57, 82),rgb(117, 210, 223),rgb(204, 57, 82));
    width: 100%;
    height: 100%;
}


.content
{
    position: absolute;
    text-align: left;
    color: powderblue;
    background-color: rgba(14, 13, 13, 0.212);
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 60%;
    font-size: 2em;
    z-index: 2;
}
.keynotes
{
    position: absolute;
    text-align: left;
    color: powderblue;
    background: linear-gradient(180deg, rgb(204, 57, 82),rgb(14, 13, 13));
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 50%;
    font-size: 5em;
    width: 100%;
    height: 10%;
    display: flex;
}


:root {
	--delay: 0;
	--duration: 3000ms;
	--iterations: 10;
}

.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay, 4s);
	animation-iteration-count: infinite;
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	font-size: 10vw;
	animation-name: clip-text;
    text-align: right;
    color: rgb(14, 13, 13);
    background-color: rgb(204, 57, 82);
    font-size: 7em;
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
        display: flex;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgb(14, 13, 13);
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}
	
}

.reveal-text-cb,
.reveal-text-cb::after {
	animation-delay: var(--animation-delay, 4s);
	animation-iteration-count: infinite;
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}
.reveal-text-cb {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	font-size: 10vw;
	animation-name: clip-text;
    text-align: left;
    background: linear-gradient(180deg, rgb(204, 57, 82),rgb(14, 13, 13));
    color: white;
    font-size: 7em;
	white-space: nowrap;
	cursor: default;

	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
        display: flex;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}
	
}

.reveal-text-sk,
.reveal-text-sk::after {
	animation-delay: var(--animation-delay, 4s);
	animation-iteration-count: infinite;
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}
.reveal-text-sk {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	font-size: 10vw;
	animation-name: clip-text;
    text-align: right;
    background: linear-gradient(180deg, rgb(14, 13, 13),rgb(204, 57, 82));
    color: rgb(14, 13, 13);
    font-size: 7em;
	white-space: nowrap;
	cursor: default;

	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
        display: flex;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}
	
}

@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}



@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');


a {
    text-decoration: none;
}

.card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}


.card {
    height: 540px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #a896cc;
    box-shadow: -1rem 0 3rem #63587a;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
    animation: card;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}


.card-header {
    margin-bottom: auto;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #2b2b35;
}

.card-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    padding-bottom: 0.5em;
    text-decoration: none;
    color: white;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.card-header h2:hover {
    background: linear-gradient(90deg, rgb(204, 57, 82),rgb(117, 210, 223));
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-author {
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: relative;
}

.author-avatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}

.author-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: ruby;
    overflow: visible;
    margin: 16px 10px;
}

.author-name {
    grid-area: auto;
    box-sizing: border-box;
}

.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: rgb(117, 210, 223);
    background: linear-gradient(rgba(204, 57, 81, 0.171),#a896cc);
}


.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: rgb(204, 57, 82);
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.tags a:hover {
    background: linear-gradient(90deg, rgb(204, 57, 82),#28242f);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: rgb(204, 57, 82);
}

.video {
    height: 120%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    overflow-x: auto;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.youtubevid {
    height: 100%;
    width: 100%;
    clear: both;
    position: relative; 
    align-items:flex-end;  
}

.course {

}

.circle  {
     border-radius: 50px;
     position: relative;
     padding-left: 10em;
     height: 100px;
     width: 100px;
     background: linear-gradient(to right, blue 50%, red 50%);
     background-size: 200% 100%;
     background-position: right bottom;
     transition: all 2s ease;
     align-content: center;
}

 
 .circle:hover {
    background-position: left bottom;
}