@font-face {
  font-family: 'mario';
  src: url(/mario.ttf);
}
@font-face {
  font-family: 'valo';
  src: url(/valo.ttf);
}
@font-face {
  font-family: 'futura';
  src: url(/futura.ttf);
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  /* THIS MAKES THE WHOLE BACKGROUND probably breaking due to blogbody */
  background-color: var(--node);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{--htbgreen: #9fef00;
  --node:#141d2b;
  --htbgrey: #a4b1cd;
  --azure: #0086ff;
  --nugget:#ffaf00;
  --malware:#ff3e3e;
  --purple:#9f00ff;
  --aquamarine:#2ee7b6;
  --nodelighter: #1e2d44;
  --nodedark: #0d121b;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  --content-gap: 20px;
--nav-width: 1024px;
--main-width: 720px;
--header-height: 60px;
--footer-height: 60px;
--radius: 8px;
--gap:15px;
--wildVar: calc(var(--main-width) + var(--gap) * 2)
}
.message{
  font-family: 'futura';
  font-size: 30px;
  text-align:justify;
  line-height: 1.3;
  animation: 0.5s ease-out 0s 1 slideInRight;;

}


.item1 { grid-area: menu;
    text-align: justify;
    margin-right: 1rem;
    font-size:19px;
    color: var(--htbgrey);
    font-size: 15px;
    border-bottom: 2px solid var(--malware);
    animation: 0.5s ease-out 0s 1 DownTop;
 }
.item2 { 
  grid-area: footer;
  background-color: var(--malware);
  font-weight: 900;
  font-size: 20px;
  padding: 0rem 1rem 0.5rem 1rem;
  text-shadow: 2px 2px 0px  var(--node),  2px 3px 0px  var(--node); 
  animation: 0.5s ease-out 0s 1 TopDown;

}

.item2>div:hover{
  text-shadow: none;
}


.item2 > p{
  text-shadow: none;
  text-decoration:line-through;
  text-decoration-thickness: 9px;
  text-decoration-color: #9fef004f;
}
.item2 > p:hover{
  text-shadow: none;
  text-decoration:overline;
  text-decoration-thickness: 4px;
  text-decoration-color: #9fef004f;
}


.paraThree {
  display: grid;
  grid-template-areas:
    'menu footer footer footer footer footer '
    'menu footer footer footer footer footer';
}

@keyframes slideInLeft {
  0% {
    visibility : 0;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  100% {
    visibility : 1;
    filter: blur(0);
    transform: translateX(0);
  }
}


@keyframes TopDown {
  0% {
    visibility : 0;
    filter: blur(5px);
    transform: translateY(-100%);
  }
  100% {
    visibility: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

@keyframes DownTop {
  0% {
    visibility: 0;
    filter: blur(5px);
    transform: translateY(100%);
  }
  100% {
    visibility: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  0% {
    visibility: 0;
    filter: blur(5px);
    transform: translateX(100%);
  }
  100% {
    visibility: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}


.hidden{
  visibility: 0;
  filter: blur(5px);
  transform: translateX(-100%);
}

.show{
  visibility: 1;
  filter: blur(0);
  transform: translateX(0);
}

.cleoTit{
  padding: 1em 0em 0em 0em;
  display: flex;
  justify-content: center;
}
.cleoTit >a { 
  color: #ffaf00;
  font-size: 25px;
  font-family: 'valo';
}


.cleo { 
  grid-area: menu;
}

.cleo > a >img{ 
  width: 100%;
  height: 100%;
}

@media (width <= 768px) {
  .cleo > a >img{ 
    width: 100%;
    max-width: 7rem;
    max-height: 14rem;
  }
  .cleo { 
    display: flex;
    align-items: center;
  }
  
}
.cleoWord { 
grid-area: footer;
font-size: 15px;
padding-left: 1em;
}



.cleopatra {
display: grid;
grid-template-areas:
  'menu footer'
  'menu footer';
}


hr{
  color: var(--malware);
  }

.hrBoy{
    width: 90%;
    color: white;
  }


.blogBody{  
  position: relative;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
  padding: var(--gap);
}

h1{
  animation: 0.5s ease-out 0s 1 slideInLeft;;
  font-family:'futura';
  font-size: 50px;
  color: var(--htbgrey);
  line-height: 3.1rem;  
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@media (max-width:520px) {
  
.blogBody{position: relative;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
  padding: var(--gap);
}

h1{
  font-size: 40px;
}

.message{
  font-size: 25px;
}

}
  

.code-style {
  font-size: 20px;
  line-height: 28px;
  background-color: lightblue;
  color: #ffffff;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: var(--htbgrey);
  cursor: pointer;
}

.contactLinks{
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 1.1rem;
  gap: 0.1em;
  flex-wrap: wrap;
  font-size: 25px;
}

.contactLinksHome{
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 1.1rem;
  gap: 0.1em;
  flex-wrap: wrap;
  padding: 1em 0em 1em 0em;
}

.contactLinks > a{
    font-family: 'valo';
}

.contactLinksHome > a{
  font-family: 'valo';
}
.restBody>h2>a{
  font-family: 'valo';
}
.restBody>h2{
  text-align: center;
  border-bottom: 2px var(--malware) solid;
}

.restBody >img{
  width: 50%;
  height: 20vh;
}

.restBody > h2 >a{
  color: var(--malware);
  font-size: xx-large;
  font-weight: 600;
}

.mushroomBody{
  position: relative;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
  padding: var(--gap);
}

.mushroomBody>b{
  font-size: large;
}

.mushroomBody>h2{
  text-align: center;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.mushroomButton {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1em;
  background-color: inherit;
  padding-top: 1em;
}

.mushroomButton > button{
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: large;
  border: none;
  border-radius: 5px;
}

.projects{
  position: relative;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
  padding: 0 var(--gap);
}

.blogBodyTSX{
  position: relative;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
  padding: var(--gap);
}

.contactBody{
  position: relative;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
  padding: var(--gap);
}

.content{
  padding-top: 0.1em;
}

.content div{
 display: flex;
  flex-direction: row;

  --maxline: 3;
  --lineheight: 1.4;

  height: calc(var(--maxline)*1em*var(--lineheight));
  line-height: var(--lineheight);
  overflow: hidden;
  position: relative;
}


.content h3{
 align-self: center;
}


.content p{
  margin: 0.1rem 0% 0% 0%;
  align-self: flex-start;
}



.content img{
  margin: 0% 1rem 0% 0%;
  max-height: 150px;
  max-width: 150px;
  min-width: 7rem;
  min-height: auto;
  align-self: center;
}

.content a:nth-child(odd) p::before{
  content: "";
  position: absolute;
  height: calc(1em * var(--lineheight));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, var(--nodedark));
  
}


.content a:nth-child(even) p::before{
  content: "";
  position: absolute;
  height: calc(1em * var(--lineheight));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, var(--nodelighter));

}

.content a:nth-child(odd) div{
  background-color: var(--nodedark);
}
.content a:nth-child(even) div{
  background-color: var(--nodelighter);
}


.content a:hover:nth-child(odd) , .content div:active:nth-child(1) {
  color: var(--htbgreen);
}

.content a:hover:nth-child(even) , .content div:active:nth-child(2) {
  color: var(--malware);
}


.content a{
  color: var(--htbgrey);
  cursor: pointer;
}

@media (width >768px) {
  .content div{
    height: 7rem;
  }

  .content img{
    max-height: 7rem;
    max-width: 14rem;
    width: auto;
  }
}

@media (width <= 768px) {
  
  .content div{
    height: 7rem;
  }

  .content img{
    max-height: 7rem;
    max-width: 14rem;
    width: auto;
  }
}