@font-face {
  font-family: 'mario';
  src: url(I:\Github\shaburu.github.io\vxr\public\mario.ttf);
}
@font-face {
  font-family: 'valo';
  src: url(I:\Github\shaburu.github.io\vxr\public\valo.ttf);
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{--htbgreen: #9fef00;
  --node:#141d2b;
  --htbgrey: #a4b1cd;
  --azure: #0086ff;
  --nugget:#ffaf00;
  --malware:#ff3e3e;
  --purple:#9f00ff;
  --aquamarine:#2ee7b6;
  --nodelighter: #1e2d44;
  --nodedark: #0d121b;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  font-weight: 500;
  color: var(--htbgreen);
  text-decoration: inherit;
}
a:hover {
  color: var(--htbgrey);
}

